.Main-div {
    background: #020423;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 83px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

#mobile-menu{
    display: none;
}

.Main-div .content {
    margin: 0 58px 13px 44px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}

.Main-div .nav-bar {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px solid #1E1E1E;
    background: #00386C;
    position: relative;
    margin-right: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 6.3px 23px 6.3px;
    box-sizing: border-box;
}
.Main-div .icon-home {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 11.7px 0 13.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;

    /*width: 48px;
    aspect-ratio: 1/1;
    background-image: url('assets/image/icons8-user-96 (1).png'); !* Replace 'image.jpg' with the path to your image *!
    background-size: cover; !* Ensure the image covers the button *!
    background-repeat: no-repeat; !* Prevent image from repeating *!
    border: none; !* Remove default button border *!
    outline: none; !* Remove default button outline *!
    cursor: pointer; !* Set cursor to pointer on hover *!*/
}

.Main-div .icon-about {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 11.7px 1px 13.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.Main-div .icon-project {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 11.7px 4px 13.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.Main-div .icon-blog {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 11.7px 4px 13.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.Main-div .icon-assignment {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 11.7px 4px 13.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.Main-div .icon-contact {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 13.7px 4px 11.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.Main-div .home {
    margin: 0 0.3px 20px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}
.Main-div .about {
    margin: 0 0 25px 3.7px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}

.Main-div .project {
    margin: 0 0 27px 3.7px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}
.Main-div .blog {
    margin: 0 0.3px 20px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}
.Main-div .assignment {
    margin: 0 0 12px 2.5px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}
.Main-div .contact {
    margin: 0 11.8px;
    align-self: flex-end;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}

#contact_head{
    color: white;
    left: 45vw;
    top: 10px;
    font-size: 48px;
    position: absolute;
}

#h1-get-in{
    margin-top: 0;
    font-size: 42px;
}





body {
    font-family: Arial, sans-serif;

    color: white;

}
.container {

    width: 50vw;
    right: 0;
    margin: 0 0 0 0;

    color: white;
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: grey;

}
input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}

#btnSubmit{

}

.icons{
    width: 20px;
    aspect-ratio: 1/1;
}

#div-icons-3{
    margin-top: 10px;
    left: 52px;
    position: absolute;
}

#icon-git,#icon-fb,#icon-linkedIn{
    width: 35px;
    aspect-ratio: 1/1;
    cursor: pointer
}

#icon-fb{


}

#icon-linkedIn{

}

#main-div{
    display: flex;
    flex-direction: row;
    left:15vw;
    top: 150px;
    position: absolute;
}

#main-para{
    margin-right: 20px;
}

.vertical-line {
    border-left: 5px solid white;
    height: 50vh;
    margin: 0 20px 0 20px;
}

@media screen and (max-width: 1060px){
    /*#main-div{
        display: flex;
        flex-direction: row;
        left:15vw;
        top: 150px;
        position: absolute;
    }*/

    .vertical-line {
        border-left: 5px solid white;
        height: 50vh;
        margin: 0 1px 0 1px;
    }
}

@media screen and (max-width: 1024px){
    #contact_head{
        color: white;
        left: 45vw;
        top: 10px;
        font-size: 42px;
        position: absolute;
    }

    #h1-get-in{
        margin-top: 0;
        font-size: 36px;
    }

    #fullName,#email,#message{
        width: 70%;

    }

    #main-div{

        left: 20vw;
    }

    .span{
        font-size: 13px;
    }
}

@media screen and (max-width: 876px){
    .Main-div {

        height: 1000px;

    }
    .vertical-line{
        display: none;
    }

    #main-div{
        display: flex;
        flex-direction: column;
        left:36vw;
        top: 150px;
        position: absolute;
    }

    #main-para{

    }

    #fields{
        top: 80px;
        position: relative;
    }

    #h1-get-in{
        font-size: 32px;
    }


    #h1-get-in,#para-fill-in{
        left: -6vw;
        position: relative;
        margin: 6px 0 4px 0;
    }

    #icon-git,#icon-fb,#icon-linkedIn{
        width: 30px;
        aspect-ratio: 1/1;
        cursor: pointer
    }

}

@media screen and (max-width: 768px){
    .Main-div .nav-bar {

        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        /*height: 90;*/
        border: 1px solid #1E1E1E;
        background: #00386C;
        position: fixed;
        margin-right: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3px 1px 6px 1px;
        box-sizing: border-box;

    }



    .Main-div .icon-home {
        background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
        margin: 0 1px 1px 1px;
        width: 20px;
        height: 20px;
        cursor: pointer;

    }

    .Main-div .icon-about {
        background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
        margin: 0 1px 1px 1px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .Main-div .icon-project {
        background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
        margin: 0 1px 1px 1px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    .Main-div .icon-blog {
        background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
        margin: 0 1px 1px 1px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }


    .Main-div .icon-assignment {
        background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
        margin: 0 1px 1px 1px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .Main-div .icon-contact {
        background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;

        margin: 0 1px 1px 1px;
        width: 20px;
        height: 20px;
        cursor: pointer;

    }

    #contact_head{

        left: 45vw;

        font-size: 40px;

    }

    #message{
        height: 100px;
    }
}

@media screen and (max-width: 425px){
    .Main-div .nav-bar{
        display: none;
    }

    #contact_head{

        left: 36vw;

        font-size: 32px;

    }

    #main-div {
        top: 100px;
        left: 20vw;

    }

    #fullName,#email,#message{
        width: 250px;

    }

    #h1-get-in{
        font-size: 24px;
    }
    #para-fill-in{
        font-size: 15px;
    }

    #h1-get-in,#para-fill-in{
        left: -6vw;
        position: relative;
        margin: 6px 0 4px 0;
    }

    #mobile-menu{
        z-index: 999;
        display: block;
        background-color: #333;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;

        border-radius: 20px;
    }


    #top-nav{
        display: flex;
        flex-direction: row;
        padding: 11px 11.1px 3px 3px;
        background-color: #00386C       ;
        border-radius: 2px;
        margin-right: 2px;
        right: 2px;
        width: 100vw;
        height: 10vh;


    }

    #top-nav>div{
        margin-left: 2px;

    }
    #div-mobile-contact{

    }

    #nav-bar-mobile>.top-nav{
        position: absolute;
        display: flex;
        flex-direction: row;

    }

    #mobile-home{
        margin: 0 0.3px 20px 0;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 12px;
        color: #FFFFFF;
    }

    #mobile-about{
        margin: 0 0 25px 3.7px;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 12px;
        color: #FFFFFF;
    }

    #mobile-project{
        margin: 0 0 27px 3.7px;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 12px;
        color: #FFFFFF;
    }

    #mobile-blog{
        margin: 0 0.3px 20px 0;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 12px;
        color: #FFFFFF;
    }

    #mobile-assignment{
        margin: 0 0.3px 20px 0;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 12px;
        color: #FFFFFF;
    }

    #mobile-contact{
        margin: 0 0.3px 20px 0;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 12px;
        color: #FFFFFF;
    }

    .Main-div .nav-bar {
        display: none;

    }


}

@media screen and (max-width: 375px){
    #main-div {
        top: 100px;
        left: 17vw;

    }

    #contact_head{

        left: 33vw;

        font-size: 32px;

    }
}

@media screen and (max-width: 360px){
    #main-div {
        top: 100px;
        left: 5vw;

    }

    #contact_head{

        left: 30vw;

        font-size: 32px;

    }

    #fullName,#email,#message{
        width: 250px;

    }

    #h1-get-in{
        font-size: 24px;
    }
    #para-fill-in{
        font-size: 15px;
    }

    #h1-get-in,#para-fill-in{
        left: 1vw;
        position: relative;
        margin: 6px 0 4px 0;
    }
}