.Main-div {
    background: #020423;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 83px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.Main-div .content {
    margin: 0 58px 13px 44px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}

.Main-div .nav-bar {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px solid #1E1E1E;
    background: #00386C;
    position: fixed;
    margin-right: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 6.3px 23px 6.3px;
    box-sizing: border-box;
}
.Main-div .icon-home {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 11.7px 0 13.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;

    /*width: 48px;
    aspect-ratio: 1/1;
    background-image: url('assets/image/icons8-user-96 (1).png'); !* Replace 'image.jpg' with the path to your image *!
    background-size: cover; !* Ensure the image covers the button *!
    background-repeat: no-repeat; !* Prevent image from repeating *!
    border: none; !* Remove default button border *!
    outline: none; !* Remove default button outline *!
    cursor: pointer; !* Set cursor to pointer on hover *!*/
}

.Main-div .icon-about {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 11.7px 1px 13.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.Main-div .icon-project {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 11.7px 4px 13.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.Main-div .icon-blog {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 11.7px 4px 13.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.Main-div .icon-assignment {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 11.7px 4px 13.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.Main-div .icon-contact {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 13.7px 4px 11.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.Main-div .home {
    margin: 0 0.3px 20px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}
.Main-div .about {
    margin: 0 0 25px 3.7px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}

.Main-div .project {
    margin: 0 0 27px 3.7px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}
.Main-div .blog {
    margin: 0 0.3px 20px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}
.Main-div .assignment {
    margin: 0 0 20px 2.5px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}
.Main-div .contact {
    margin: 0 11.8px;
    align-self: flex-end;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}

#h1-about{
    color: whitesmoke;
    align-items: center;
    font-size: 50px;
    height: 60px;
    margin: 0 0 0 0 ;
    left: 50vw;
    position: absolute;
}





#img-me-inno{
    width: 332px;
    height: 395px;
    left: 150px;
    top: 155px;
    position: absolute;
}

#para-about-me{
    left: 500px;
    top: 150px;
    position: absolute;
    margin-top: 0;
    color: red;
    font-size: 20px;
    line-height: 1.7;
}

#about-detail-1{

    display: flex;
    font-size: 20px;
    top: 330px;
    left: 455px;
    position: relative;
    line-height: 1.7;
}

#about-detail-2{

    display: flex;
    font-size: 20px;
    top: 330px;
    left: 610px;
    position: relative;
    line-height: 1.7;
}

@media screen and (max-width: 1236px) {
    #img-me-inno{
        width: 325px;
        height: 388px;
        left: 150px;
        top: 155px;
        position: absolute;
    }

    #para-about-me{
        left: 500px;
        top: 150px;
        position: absolute;
        margin-top: 0;
        color: red;
        font-size: 17px;
        line-height: 1.7;
    }

    #about-detail-1{

        display: flex;
        font-size: 17px;
        top: 315px;
        left: 455px;
        position: relative;
        line-height: 1.7;
    }

    #about-detail-2{

        display: flex;
        font-size: 17px;
        top: 315px;
        left: 630px;
        position: relative;
        line-height: 1.7;
    }
}

@media screen and (max-width: 1128px) {
    #img-me-inno{
        width: 290px;
        height: 353px;
        left: 150px;
        top: 155px;
        position: absolute;
    }

    #para-about-me{
        left: 460px;
        top: 150px;
        position: absolute;
        margin-top: 0;
        margin-right: 50px;
        color: red;
        font-size: 17px;
        line-height: 1.7;
    }

    #about-detail-1{

        display: flex;
        font-size: 17px;
        top: 415px;
        left: 415px;
        position: relative;
        line-height: 1.7;
    }

    #about-detail-2{

        display: flex;
        font-size: 17px;
        top: 415px;
        left: 490px;
        position: relative;
        line-height: 1.7;
    }
}

@media screen and (max-width: 990px) {
    #img-me-inno{
        width: 265px;
        height: 323px;
        left: 150px;
        top: 155px;
        position: absolute;
    }

    #para-about-me{
        left: 445px;
        top: 150px;
        position: absolute;
        margin-top: 0;
        margin-right: 10px;
        color: red;
        font-size: 15px;
        line-height: 1.7;
    }

    #about-detail-1{

        display: flex;
        font-size: 15px;
        top: 438px;
        left: 107px;
        position: relative;
        line-height: 1.7;
    }

    #about-detail-2{

        display: flex;
        font-size: 15px;
        top: 438px;
        left: 280px;
        position: relative;
        line-height: 1.7;
    }
}

@media screen and (max-width: 768px) {

    .Main-div {
        background: #020423;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 83px;
        width: 100vw;
        height: 1500px;
        box-sizing: border-box;
    }

    .Main-div .nav-bar {

        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        /*height: 90;*/
        border: 1px solid #1E1E1E;
        background: #00386C;
        position: fixed;
        margin-right: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3px 1px 6px 1px;
        box-sizing: border-box;

    }



    .Main-div .icon-home {
        background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
        margin: 0 1px 1px 1px;
        width: 20px;
        height: 20px;
        cursor: pointer;

    }

    .Main-div .icon-about {
        background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
        margin: 0 1px 1px 1px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .Main-div .icon-project {
        background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
        margin: 0 1px 1px 1px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    .Main-div .icon-blog {
        background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
        margin: 0 1px 1px 1px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }


    .Main-div .icon-assignment {
        background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
        margin: 0 1px 1px 1px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .Main-div .icon-contact {
        background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;

        margin: 0 1px 1px 1px;
        width: 20px;
        height: 20px;
        cursor: pointer;

    }

    #img-me-inno{
        width: 245px;
        height: 305px;
        left: 40vw;
        top: 155px;
        position: absolute;
    }

    #para-about-me{
        left: 20vw;
        top: 510px;
        position: absolute;
        margin-top: 0;
        margin-right: 10px;
        color: red;
        font-size: 16px;
        line-height: 1.7;
    }

    #about-detail-1{

        display: flex;
        font-size: 16px;
        top: 680px;
        left: 14vw;
        position: relative;
        line-height: 1.7;
    }

    #about-detail-2{

        display: flex;
        font-size: 16px;
        top: 680px;
        left: 28vw;
        position: relative;
        line-height: 1.7;
    }
}


@media screen and (max-width: 645px) {


    #img-me-inno{
        width: 225px;
        height: 285px;
        left: 40vw;
        top: 155px;
        position: absolute;
    }

    #para-about-me{
        left: 130px;
        top: 475px;
        position: absolute;
        margin-top: 0;
        margin: 0 20px 0 20px;
        color: red;
        font-size: 16px;
        line-height: 1.7;

    }

    #about-detail-1{

        display: flex;
        font-size: 16px;
        top: 725px;
        left: 105px;
        position: relative;
        line-height: 1.7;
    }

    #about-detail-2{

        display: flex;
        font-size: 16px;
        top: 820px;
        left: -40px;
        position: relative;
        line-height: 1.7;
    }
}


@media screen and (max-width: 548px) {
    #about-detail-1{

        display: flex;
        font-size: 14px;
        top: 950px;
        left: 150px;
        position: absolute;
        line-height: 1.7;
        width: 150px;

    }

    #about-detail-2{

        display: flex;
        font-size: 14px;
        top: 1050px;
        left: 150px;
        position: absolute;
        line-height: 1.7;
    }

   /* #about-detail-div-1{
        display: flex;
        font-size: 16px;
        top: 785px;
        left: 105px;
        position: relative;
        line-height: 1.7;
        width: 150px;
    }

    #about-detail-div-2{
        display: flex;
        font-size: 16px;
        top: 890px;
        left: -40px;
        position: relative;
        line-height: 1.7;
    }*/
}

@media screen and (max-width: 456px){
    #about-detail-1{

        display: flex;
        font-size: 14px;
        top: 1050px;
        left: 150px;
        position: absolute;
        line-height: 1.7;
        width: 150px;

    }

    #about-detail-2{

        display: flex;
        font-size: 14px;
        top: 1150px;
        left: 150px;
        position: absolute;
        line-height: 1.7;
    }
}

@media screen and (max-width: 425px) {
    .Main-div .nav-bar {
        display: none;

    }

    #h1-about{
        color: whitesmoke;
        align-items: center;
        font-size: 50px;
        height: 60px;
        margin: 0 0 0 0 ;
        left: 32vw;
        position: absolute;
    }

    #img-me-inno{
        width: 205px;
        height: 270px;
        left: 25vw;
        top: 155px;
        position: absolute;
    }

    #para-about-me{
        left: 30px;
        top: 475px;
        position: absolute;
        margin: 0 20px 0 20px;
        color: red;
        font-size: 16px;
        line-height: 1.7;

    }

    #about-detail-1{

        display: flex;
        font-size: 16px;
        top: 725px;
        left: 105px;
        position: relative;
        line-height: 1.7;
    }

    #about-detail-2{

        display: flex;
        font-size: 16px;
        top: 820px;
        left: -40px;
        position: relative;
        line-height: 1.7;
    }

}



/*------------------------------------------------------------------------------------------------------------------------*/


.desktop-1 .container-2 {
    /*background: #050832;
    position: relative;
    margin-bottom: 4.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.8rem 3.6rem 6.8rem 3.6rem;
    width: 90.1rem;
    box-sizing: border-box;*/
}
