.Main-div {
    background: #020423;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 83px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

#mobile-menu{
    display: none;
}

.Main-div .content {
    margin: 0 58px 13px 44px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}

.Main-div .nav-bar {
    z-index: 999;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px solid #1E1E1E;
    background: #00386C;
    position: fixed;
    margin-right: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 6.3px 23px 6.3px;
    box-sizing: border-box;
}
.Main-div .icon-home {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 11.7px 0 13.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;

    /*width: 48px;
    aspect-ratio: 1/1;
    background-image: url('assets/image/icons8-user-96 (1).png'); !* Replace 'image.jpg' with the path to your image *!
    background-size: cover; !* Ensure the image covers the button *!
    background-repeat: no-repeat; !* Prevent image from repeating *!
    border: none; !* Remove default button border *!
    outline: none; !* Remove default button outline *!
    cursor: pointer; !* Set cursor to pointer on hover *!*/
}

.Main-div .icon-about {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 11.7px 1px 13.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.Main-div .icon-project {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 11.7px 4px 13.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.Main-div .icon-blog {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 11.7px 4px 13.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.Main-div .icon-assignment {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 11.7px 4px 13.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.Main-div .icon-contact {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 13.7px 4px 11.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.Main-div .home {
    margin: 0 0.3px 20px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}
.Main-div .about {
    margin: 0 0 25px 3.7px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}

.Main-div .project {
    margin: 0 0 27px 3.7px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}
.Main-div .blog {
    margin: 0 0.3px 20px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}
.Main-div .assignment {
    margin: 0 0 20px 2.5px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}
.Main-div .contact {
    margin: 0 11.8px;
    align-self: flex-end;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}

#h1-about{
    color: whitesmoke;
    align-items: center;
    font-size: 50px;
    height: 60px;
    margin: 0 0 0 0 ;
    left: 50vw;
    position: absolute;
}





#img-me-inno{
    width: 332px;
    height: 395px;
    left: 150px;
    top: 155px;
    position: absolute;
}

#para-about-me{
    left: 500px;
    top: 150px;
    position: absolute;
    margin-top: 0;
    color: red;
    font-size: 20px;
    line-height: 1.7;
}

#about-detail-1{

    display: flex;
    font-size: 20px;
    top: 330px;
    left: 455px;
    position: relative;
    line-height: 1.7;
}

#about-detail-2{

    display: flex;
    font-size: 20px;
    top: 330px;
    left: 610px;
    position: relative;
    line-height: 1.7;
}

@media screen and (max-width: 1236px) {
    #img-me-inno{
        width: 325px;
        height: 388px;
        left: 150px;
        top: 155px;
        position: absolute;
    }

    #para-about-me{
        left: 500px;
        top: 150px;
        position: absolute;
        margin-top: 0;
        color: red;
        font-size: 17px;
        line-height: 1.7;
    }

    #about-detail-1{

        display: flex;
        font-size: 17px;
        top: 315px;
        left: 455px;
        position: relative;
        line-height: 1.7;
    }

    #about-detail-2{

        display: flex;
        font-size: 17px;
        top: 315px;
        left: 630px;
        position: relative;
        line-height: 1.7;
    }
}

@media screen and (max-width: 1128px) {
    #img-me-inno{
        width: 290px;
        height: 353px;
        left: 150px;
        top: 155px;
        position: absolute;
    }

    #para-about-me{
        left: 460px;
        top: 150px;
        position: absolute;
        margin-top: 0;
        margin-right: 50px;
        color: red;
        font-size: 17px;
        line-height: 1.7;
    }

    #about-detail-1{

        display: flex;
        font-size: 17px;
        top: 415px;
        left: 415px;
        position: relative;
        line-height: 1.7;
    }

    #about-detail-2{

        display: flex;
        font-size: 17px;
        top: 415px;
        left: 490px;
        position: relative;
        line-height: 1.7;
    }
}

@media screen and (max-width: 990px) {
    #img-me-inno{
        width: 265px;
        height: 323px;
        left: 150px;
        top: 155px;
        position: absolute;
    }

    #para-about-me{
        left: 445px;
        top: 150px;
        position: absolute;
        margin-top: 0;
        margin-right: 10px;
        color: red;
        font-size: 15px;
        line-height: 1.7;
    }

    #about-detail-1{

        display: flex;
        font-size: 15px;
        top: 438px;
        left: 107px;
        position: relative;
        line-height: 1.7;
    }

    #about-detail-2{

        display: flex;
        font-size: 15px;
        top: 438px;
        left: 280px;
        position: relative;
        line-height: 1.7;
    }
}


@media screen and (max-width: 768px) {

    .Main-div {
        background: #020423;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 83px;
        width: 100vw;
        height: 1200px;
        box-sizing: border-box;
    }

    .Main-div .nav-bar {

        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        /*height: 90;*/
        border: 1px solid #1E1E1E;
        background: #00386C;
        position: fixed;
        margin-right: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3px 1px 6px 1px;
        box-sizing: border-box;

    }



    .Main-div .icon-home {
        background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
        margin: 0 1px 1px 1px;
        width: 20px;
        height: 20px;
        cursor: pointer;

    }

    .Main-div .icon-about {
        background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
        margin: 0 1px 1px 1px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .Main-div .icon-project {
        background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
        margin: 0 1px 1px 1px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    .Main-div .icon-blog {
        background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
        margin: 0 1px 1px 1px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }


    .Main-div .icon-assignment {
        background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
        margin: 0 1px 1px 1px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .Main-div .icon-contact {
        background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;

        margin: 0 1px 1px 1px;
        width: 20px;
        height: 20px;
        cursor: pointer;

    }

    #img-me-inno{
        width: 245px;
        height: 305px;
        left: 40vw;
        top: 155px;
        position: absolute;
    }

    #para-about-me{
        left: 20vw;
        top: 510px;
        position: absolute;
        margin-top: 0;
        margin-right: 10px;
        color: red;
        font-size: 16px;
        line-height: 1.7;
    }

    #about-detail-1{

        display: flex;
        font-size: 16px;
        top: 680px;
        left: 14vw;
        position: relative;
        line-height: 1.7;
    }

    #about-detail-2{

        display: flex;
        font-size: 16px;
        top: 680px;
        left: 28vw;
        position: relative;
        line-height: 1.7;
    }
}


@media screen and (max-width: 645px) {


    #img-me-inno{
        width: 225px;
        height: 285px;
        left: 40vw;
        top: 155px;
        position: absolute;
    }

    #para-about-me{
        left: 130px;
        top: 475px;
        position: absolute;
        margin-top: 0;
        margin: 0 20px 0 20px;
        color: red;
        font-size: 16px;
        line-height: 1.7;

    }

    #about-detail-1{

        display: flex;
        font-size: 16px;
        top: 725px;
        left: 105px;
        position: relative;
        line-height: 1.7;
    }

    #about-detail-2{

        display: flex;
        font-size: 16px;
        top: 820px;
        left: -40px;
        position: relative;
        line-height: 1.7;
    }
}


@media screen and (max-width: 548px) {
    #about-detail-1{

        display: flex;
        font-size: 14px;
        top: 950px;
        left: 150px;
        position: absolute;
        line-height: 1.7;
        width: 150px;

    }

    #about-detail-2{

        display: flex;
        font-size: 14px;
        top: 1050px;
        left: 150px;
        position: absolute;
        line-height: 1.7;
    }

   /* #about-detail-div-1{
        display: flex;
        font-size: 16px;
        top: 785px;
        left: 105px;
        position: relative;
        line-height: 1.7;
        width: 150px;
    }

    #about-detail-div-2{
        display: flex;
        font-size: 16px;
        top: 890px;
        left: -40px;
        position: relative;
        line-height: 1.7;
    }*/
}

@media screen and (max-width: 456px){

    #about-detail-1{

        display: flex;
        font-size: 14px;
        top: 1050px;
        left: 150px;
        position: absolute;
        line-height: 1.7;
        width: 150px;

    }

    #about-detail-2{

        display: flex;
        font-size: 14px;
        top: 1150px;
        left: 150px;
        position: absolute;
        line-height: 1.7;
    }
}

@media screen and (max-width: 425px) {
    #mobile-menu{
        z-index: 999;
        display: block;
        background-color: #333;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;

        border-radius: 20px;
    }
    /*-----------------------------------------------------------------------------------------*/

    #top-nav{
        display: flex;
        flex-direction: row;
        padding: 11px 11.1px 3px 3px;
        background-color: #00386C       ;
        border-radius: 2px;
        margin-right: 2px;
        right: 2px;
        width: 100vw;
        height: 10vh;


    }

    #top-nav>div{
        margin-left: 10px;
    }

    #nav-bar-mobile>.top-nav{
        position: absolute;
        display: flex;
        flex-direction: row;

    }

    #mobile-home{
        margin: 0 0.3px 20px 0;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 12px;
        color: #FFFFFF;
    }

    #mobile-about{
        margin: 0 0 25px 3.7px;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 12px;
        color: #FFFFFF;
    }

    #mobile-project{
        margin: 0 0 27px 3.7px;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 12px;
        color: #FFFFFF;
    }

    #mobile-blog{
        margin: 0 0.3px 20px 0;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 12px;
        color: #FFFFFF;
    }

    #mobile-assignment{
        margin: 0 0.3px 20px 0;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 12px;
        color: #FFFFFF;
    }

    #mobile-contact{
        margin: 0 0.3px 20px 0;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 12px;
        color: #FFFFFF;
    }

   /* #top-nav{
        display: flex;
        flex-direction: row;
        padding: 11px 11.1px 3px 3px;
        background-color: #00386C       ;
        border-radius: 2px;
        margin-right: 2px;
        right: 2px;
        width: 100vw;
        height: 10vh;


    }

    #top-nav>div{
        margin-left: 10px;
    }

    #nav-bar-mobile>.top-nav{
        position: absolute;
        display: flex;
        flex-direction: row;

    }

    #mobile-home{
        margin: 0 0.3px 20px 0;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 12px;
        color: #FFFFFF;
    }

    #mobile-about{
        margin: 0 0 25px 3.7px;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 12px;
        color: #FFFFFF;
    }

    #mobile-project{
        margin: 0 0 27px 3.7px;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 12px;
        color: #FFFFFF;
    }

    #mobile-blog{
        margin: 0 0.3px 20px 0;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 12px;
        color: #FFFFFF;
    }

    #mobile-assignment{
        margin: 0 0.3px 20px 0;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 12px;
        color: #FFFFFF;
    }

    #mobile-contact{
        margin: 0 12px 20px 0;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 12px;
        color: #FFFFFF;
    }*/

    /*#div-mobile-about{
        width: 65px;
    }
    #div-mobile-home{
        width: 65px;
    }

    #div-mobile-contact{
        margin-left: 5px;
    }

    #div-mobile-project{
        margin-left: 0;
    }*/


    .Main-div .nav-bar {
        display: none;

    }

    #h1-about{
        color: whitesmoke;
        align-items: center;
        font-size: 50px;
        height: 60px;
        margin: 0 0 0 0 ;
        left: 32vw;
        position: absolute;
    }

    #img-me-inno{
        width: 205px;
        height: 250px;
        left: 25vw;
        top: 155px;
        position: absolute;
    }

    #para-about-me{
        left: 30px;
        top: 465px;
        position: absolute;
        margin: 0 20px 0 20px;
        color: red;
        font-size: 16px;
        line-height: 1.7;
        justify-content: space-around;

    }

    #about-detail-1{

        display: flex;
        font-size: 14px;
        top: 900px;
        left: 50px;
        position: absolute;
        line-height: 1.7;
        width: 150px;

    }

    #about-detail-2{

        display: flex;
        font-size: 14px;
        top: 1000px;
        left: 50px;
        position: absolute;
        line-height: 1.7;
    }

}

@media screen and (max-width: 375px) {

    #img-me-inno{
        width: 190px;
        height: 230px;
        left: 25vw;
        top: 155px;
        position: absolute;
    }

    #para-about-me{
        left: 30px;
        top: 430px;
        position: absolute;
        margin: 0 20px 0 20px;
        color: red;
        font-size: 16px;
        line-height: 1.7;
        justify-content: space-around;

    }

    #about-detail-1{

        display: flex;
        font-size: 14px;
        top: 910px;
        left: 50px;
        position: absolute;
        line-height: 1.7;
        width: 150px;

    }

    #about-detail-2{

        display: flex;
        font-size: 14px;
        top: 1010px;
        left: 50px;
        position: absolute;
        line-height: 1.7;
    }
    #top-nav>div{
        margin-left: 5px;
    }


    #mobile-about{
        margin: 0 0 25px 3.7px;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 12px;
        color: #FFFFFF;
    }

    #div-mobile-about{
        width: 75px;
    }
    /*#div-mobile-home{

    }*/
}

@media screen and (max-width: 320px) {
    #h1-about{
        color: whitesmoke;
        align-items: center;
        font-size: 40px;
        height: 60px;
        margin: 0 0 0 0 ;
        left: 32vw;
        position: absolute;
    }
    #img-me-inno{
        width: 160px;
        height: 210px;
        left: 25vw;
        top: 155px;
        position: absolute;
    }

    #para-about-me{
        left: 30px;
        top: 410px;
        position: absolute;
        margin: 0 5px 0 5px;
        color: red;
        font-size: 16px;
        line-height: 1.7;
        justify-content: space-around;

    }

    #about-detail-1{

        display: flex;
        font-size: 14px;
        top: 950px;
        left: 35px;
        position: absolute;
        line-height: 1.7;
        width: 150px;

    }

    #about-detail-2{

        display: flex;
        font-size: 14px;
        top: 1050px;
        left: 35px;
        position: absolute;
        line-height: 1.7;
    }
    #top-nav>div{
        margin-left: 2px;
    }
}




/*------------------------------------------------------------------------------------------------------------------------*/


/*.desktop-1 .container-2 {
    !*background: #050832;
    position: relative;
    margin-bottom: 4.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.8rem 3.6rem 6.8rem 3.6rem;
    width: 90.1rem;
    box-sizing: border-box;*!
}*/

/*------------------------------------------------- Sec-education and skill ----------------------------------------------------------------------*/

#sec-edu-skill {

    padding-right: 0;

    font-family: Arial, sans serif;
    font-size: 16px;

    /*max-width: 1200px;*/
    width: 100vw;
    height: 850px;
    margin: 0;
    background-color: #050832;
}

nav.jump-to ul {
    list-style: none;
    padding: 0;
    margin: 1em 0;
    display: flex;
}
nav.jump-to li:nth-child(n+2) {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid #568aa3;
}
nav.jump-to a,
nav.jump-to a:link,
nav.jump-to a:visited {
    text-decoration: none;
    color: #568aa3;
}
nav.jump-to a:hover,
nav.jump-to a:active {
    color: #3c6071;
}




.timelines {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

}
.timeline-education{
    position: absolute;
    top: 800px;
    left: 17vw;
}

.timeline-experience{
    position: absolute;
    top: 800px;
    left: 60vw;
}

h2.timeline-title {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

ul.timeline-items {
    list-style-type: none;
    margin: 2em;
    padding: 0.01em 0 3em 2em;
    border-left: 1px solid whitesmoke;
}

li.timeline-item {
    margin-bottom: 2em;
    margin-top: -0.3em;
}
li.timeline-item h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    position: relative;
}
li.timeline-item h3::before {
    content: "";
    position: absolute;
    left: -2.35em;
    background-color: whitesmoke;
    box-shadow: inset -1000px -1000px whitesmoke;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    transform: translate(-0.5px, 0.2em);
}
li.timeline-item > * {
    margin: 1em 0;
}
li.timeline-item .location {
    font-size: 0.85em;
    font-style: italic;
}

@media screen and (max-width: 1090px) {
    #sec-edu-skill {
        padding: 1em;
        font-family: Arial, sans serif;
        font-size: 16px;
        /*max-width: 1200px;*/
        width: 100%;
        height: 1050px;
        margin: 0;
        background-color: #050832;
    }
    .timeline-education{
        position: absolute;
        top: 800px;
        left: 20vw;
    }
    .timeline-experience{
        position: absolute;
        top: 1450px;
        left: 20vw;

    }

}


@media screen and (max-width: 700px) {
    /*#sec-edu-skill {
        background-image: radial-gradient(circle at left top, white 0%, white 20%, transparent 70%), radial-gradient(circle at right, white 0%, white 5%, transparent 45%), linear-gradient(180deg, #d1d9e2, #a7b3bf);
        background-size: 25em 25em, 30em 30em, 100% 100%;
        background-position: 0 0, 100% 65%, 0 0;
    }*/
}


@media screen and (max-width: 768px) {
    #sec-edu-skill{
        padding-right: 0;
    }
    .timeline-education{
        position: absolute;
        top: 1250px;
        left: 20vw;
    }
    .timeline-experience{
        position: absolute;
        top: 1900px;
        left: 20vw;

    }
}

@media screen and (max-width: 650px) {
    #education,#experience{
        font-size: 18px;
        left: 20vw;
        position: relative;
    }

    #colombo,#ijse,#sivali,#colombo-date,#ijse-date,#sivali-date,#zyntech,#zyntech-date{
        font-size: 14px;
    }

     .location {
        font-size: 0.75em;
        font-style: italic;
    }
    .date-interval{
        font-size: 14px;
    }

    #timeline-items,#timeline-items-zyntech{

        padding-left: 28px;
        left: 4vw;
        position: relative;
    }


}

@media screen and (max-width: 425px) {
    #education,#experience{
        font-size: 18px;
        left: 15vw;
        position: relative;
    }

    #timeline-items,#timeline-items-zyntech{

        padding-left: 28px;
        left: 1vw;
        margin-left: 0;
        position: relative;
    }
}

@media screen and (max-width: 375px) {
    #colombo,#ijse,#sivali,#colombo-date,#ijse-date,#sivali-date,#zyntech,#zyntech-date{
        font-size: 13px;
    }

    .location {
        font-size: 0.71em;
        font-style: italic;
    }
    .date-interval{
        font-size: 13px;
    }
    #timeline-items,#timeline-items-zyntech{

        padding-left: 26px;
        left: 1vw;
        margin-left: 0;
        position: relative;
    }
}

/*--------------------------------------------My-skills-tools--------------------------------------------------*/


.sec-skills{
    padding-top: 25px;
    background-color: #020423;
    width: 100vw;
    height: 2000%;

}

.container>div>img{
    width: 55px;
    aspect-ratio: 1/1
}
.my-skills {
    margin: 0 0 86px 43px;
    display: inline-block;
    overflow-wrap: break-word;
    left: 38vw;
    position: relative;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
}
.web-development {
    margin: 0 0 43px 21px;
    display: inline-block;
    overflow-wrap: break-word;
    left: 35vw;
    position: relative;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}

.div-database{
    margin: 0 0 43px 21px;
    display: inline-block;
    overflow-wrap: break-word;
    left: 42vw;
    position: relative;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;

}

.container-database{
    margin: 0 0 80px 2px;
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
    left: 48vw;
    width: 100px;
    position: relative;
    box-sizing: border-box;
}
.container-database>div>img{
    width: 65px;
    aspect-ratio: 1/1
}


.container {
    margin: 0 0 80px 2px;
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
    left: 32.5vw;
    width: 490px;
    position: relative;
    box-sizing: border-box;
}

.container-programming>div>img{
    left: 40vw;
    width: 55px;
    aspect-ratio: 1/1
}
.container-programming {
    margin: 0 0 80px 2px;
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
    left: 39.5vw;
    width: 350px;
    position: relative;
    box-sizing: border-box;
}

.tools{
    margin: 0 0 43px 21px;
    display: inline-block;
    overflow-wrap: break-word;
    left: 45vw;
    position: relative;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}

.container-tools{
    margin: 0 0 80px 2px;
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
    left: 33vw;
    width: 500px;
    margin-bottom: 0;
    position: relative;
    box-sizing: border-box;
}

.container-tools>div>img{
    left: 40vw;
    width: 55px;
    aspect-ratio: 1/1
}
.icons-8-html-1441 {

    margin-top: 6px;
    width: 100px;
    height: 100px;
}

.icons-8-css-1441 {

    margin-top: 6px;
    width: 100px;
    height: 100px;
}

.icons-8-bootstrap-1441 {

    margin-bottom: 6px;
    width: 100px;
    height: 100px;
}

.icons-8-react-ajavascript-library-for-building-user-interfaces-961 {

    margin: 6px 0 9.6px 0;
    width: 100px;
    height: 90.4px;
}

.icons-8-spring-boot-1441 {

    margin-top: 6px;
    width: 100px;
    height: 100px;
}

.programming-languages {
    margin: 0 0 46px 21px;
    display: inline-block;
    overflow-wrap: break-word;
    left: 32vw;
    width: 490px;
    position: relative;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .container>div>img{
        width: 50px;
        aspect-ratio: 1/1
    }

    .container-programming>div>img{
        left: 40vw;
        width: 50px;
        aspect-ratio: 1/1
    }
    .container-database>div>img{
        width: 60px;
        aspect-ratio: 1/1
    }

    .container-tools>div>img{
        left: 40vw;
        width: 50px;
        aspect-ratio: 1/1
    }

    .programming-languages {
        margin: 0 0 46px 21px;
        display: inline-block;
        overflow-wrap: break-word;
        left: 23vw;
        width: 490px;
        position: relative;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 38px;
        color: #FFFFFF;
    }

    .my-skills {
        margin: 0 0 86px 43px;
        display: inline-block;
        overflow-wrap: break-word;
        left: 36vw;
        position: relative;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 42px;
        color: #FFFFFF;
    }
    .web-development {
        margin: 0 0 43px 21px;
        display: inline-block;
        overflow-wrap: break-word;
        left: 29vw;
        position: relative;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 38px;
        color: #FFFFFF;
    }

    .div-database{
        margin: 0 0 43px 21px;
        display: inline-block;
        overflow-wrap: break-word;
        left: 38vw;
        position: relative;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 38px;
        color: #FFFFFF;

    }
    .tools{
        margin: 0 0 43px 21px;
        display: inline-block;
        overflow-wrap: break-word;
        left: 42.5vw;
        position: relative;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 38px;
        color: #FFFFFF;
    }

    .container-database{
        margin: 0 0 80px 2px;
        display: flex;
        flex-direction: row;
        column-gap: 2vw;
        left: 47vw;
        width: 100px;
        position: relative;
        box-sizing: border-box;
    }



    .container {
        margin: 0 0 80px 2px;
        display: flex;
        flex-direction: row;
        column-gap: 2vw;
        left: 25vw;
        width: 490px;
        position: relative;
        box-sizing: border-box;
    }

    .container-programming {
        margin: 0 0 80px 2px;
        display: flex;
        flex-direction: row;
        column-gap: 2vw;
        left: 37vw;
        width: 350px;
        position: relative;
        box-sizing: border-box;
    }

    .container-tools{
        margin: 0 0 80px 2px;
        display: flex;
        flex-direction: row;
        column-gap: 2vw;
        left: 23vw;
        width: 500px;
        margin-bottom: 0;
        position: relative;
        box-sizing: border-box;
    }


}

@media screen and (max-width: 650px) {
    .my-skills {
        margin: 0 0 86px 43px;
        display: inline-block;
        overflow-wrap: break-word;
        left: 38vw;
        position: relative;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 34px;
        color: #FFFFFF;
    }

    .web-development {
        margin: 0 0 43px 21px;
        display: inline-block;
        overflow-wrap: break-word;
        left: 32vw;
        position: relative;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 30px;
        color: #FFFFFF;
    }

    .programming-languages {
        margin: 0 0 46px 21px;
        display: inline-block;
        overflow-wrap: break-word;
        left: 25vw;
        width: 490px;
        position: relative;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 30px;
        color: #FFFFFF;
    }

    .div-database{
        margin: 0 0 43px 21px;
        display: inline-block;
        overflow-wrap: break-word;
        left: 41.5vw;
        position: relative;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 30px;
        color: #FFFFFF;

    }

    .tools{
        margin: 0 0 43px 21px;
        display: inline-block;
        overflow-wrap: break-word;
        left: 45.5vw;
        position: relative;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 30px;
        color: #FFFFFF;
    }
    .container{
        left: 28.5vw;
    }

    .container-programming{
        left: 40.5vw;
    }
    .container-database{
        left: 51vw;
    }


    .container>div>img,.container-programming>div>img,.container-tools>div>img {
        width: 40px;
        aspect-ratio: 1/1
    }

    .container-database>div>img{
        width: 50px;
        aspect-ratio: 1/1
    }


    .icons-8-html-1441,.icons-8-css-1441,.icons-8-bootstrap-1441,.icons-8-react-ajavascript-library-for-building-user-interfaces-961,.icons-8-spring-boot-1441  {

        margin-top: 6px;
        width: 65px;
        height: 75px;
    }

    .my-skills,.container,.container-database,.container-programming,.container-programming{
        margin-bottom: 50px;
    }

    .container-tools{
        left: 28vw;
    }

}

@media screen and (max-width: 540px){
    .my-skills {
        margin: 0 0 86px 43px;
        display: inline-block;
        overflow-wrap: break-word;
        left: 38vw;
        position: relative;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 28px;
        color: #FFFFFF;

        margin-bottom: 50px;
    }

    .web-development {
        margin: 0 0 43px 21px;
        display: inline-block;
        overflow-wrap: break-word;
        left: 32vw;
        position: relative;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 30px;
        color: #FFFFFF;
    }

    .programming-languages {
        margin: 0 0 46px 21px;
        display: inline-block;
        overflow-wrap: break-word;
        left: 25vw;
        width: 490px;
        position: relative;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 30px;
        color: #FFFFFF;
    }

    .div-database{
        margin: 0 0 43px 21px;
        display: inline-block;
        overflow-wrap: break-word;
        left: 41.5vw;
        position: relative;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 30px;
        color: #FFFFFF;

    }

    .tools{
        margin: 0 0 43px 21px;
        display: inline-block;
        overflow-wrap: break-word;
        left: 45.5vw;
        position: relative;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 30px;
        color: #FFFFFF;
    }
}



