.Main-div {
    background: #020423;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 83px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

#project_head{
    color: white;
    left: 45vw;
    top: 10px;
    font-size: 48px;
    position: absolute;
}

.Main-div .content {
    margin: 0 58px 13px 44px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}

.Main-div .nav-bar {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px solid #1E1E1E;
    background: #00386C;
    position: relative;
    margin-right: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 6.3px 23px 6.3px;
    box-sizing: border-box;
}
.Main-div .icon-home {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 11.7px 0 13.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;

    /*width: 48px;
    aspect-ratio: 1/1;
    background-image: url('assets/image/icons8-user-96 (1).png'); !* Replace 'image.jpg' with the path to your image *!
    background-size: cover; !* Ensure the image covers the button *!
    background-repeat: no-repeat; !* Prevent image from repeating *!
    border: none; !* Remove default button border *!
    outline: none; !* Remove default button outline *!
    cursor: pointer; !* Set cursor to pointer on hover *!*/
}

.Main-div .icon-about {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 11.7px 1px 13.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.Main-div .icon-project {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 11.7px 4px 13.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.Main-div .icon-blog {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 11.7px 4px 13.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.Main-div .icon-assignment {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 11.7px 4px 13.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.Main-div .icon-contact {
    background: url("assets/icon/icons8-facebook-144.png") 50% / cover no-repeat;
    margin: 0 13.7px 4px 11.7px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.Main-div .home {
    margin: 0 0.3px 20px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}
.Main-div .about {
    margin: 0 0 25px 3.7px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}

.Main-div .project {
    margin: 0 0 27px 3.7px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}
.Main-div .blog {
    margin: 0 0.3px 20px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}
.Main-div .assignment {
    margin: 0 0 12px 2.5px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}
.Main-div .contact {
    margin: 0 11.8px;
    align-self: flex-end;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}

/*----------------------------------------------------------------------------------------*/
.main-div-1 {
    top: 100px;
    left: 15vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}

.div-1{
    border-radius: 50px;
    border: 10px solid #4C9AF6;
    /*background: rgba(76, 76, 76, 0.6);*/
    background : #414148;
    position: relative;
    margin-right: 37px;
    padding: 323px 26px 72px 26px;
    width: 370px;
    height: 600px;
    box-sizing: border-box;
}

.para-1 {
    font-family: 'Inter';
    font-weight: 200;
    font-size: 12px;
    line-height: 1.333;
}

.div-2{
    border-radius: 50px;
    border: 10px solid #4C9AF6;
    background-color: #414148;
    position: relative;
    margin-right: 37px;
    padding: 323px 26px 72px 26px;
    width: 370px;
    height: 600px;
    box-sizing: border-box;
}

.para-2 {
    font-family: 'Inter';
    font-weight: 200;
    font-size: 12px;
    line-height: 1.333;
}

.div-3 {
    border-radius: 50px;
    border: 10px solid #4C9AF6;
    background-color: #414148;
    position: relative;
    margin-right: 37px;
    padding: 323px 26px 72px 26px;
    width: 370px;
    height: 600px;
    box-sizing: border-box;
    /*box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 256px 0 263px 1.1px;
    width: 370px;
    box-sizing: border-box;*/
}

.rectangle-25 {
    border-radius: 50px;
    border: 5px solid #4C9AF6;
    background: rgba(76, 76, 76, 0.6);
    position: absolute;
    left: 50%;
    top: 0px;
    translate: -50% 0;
    width: 370px;
    height: 558px;
}

.rectangle-101 {
    border-radius: 20px;
    background: #4C9AF6;
    position: absolute;
    left: 50%;
    top: 249px;
    translate: -50% 0;
    width: 221.8px;
    height: 60px;
}

.view-more {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 32px;
    color: #050505;
}

.rectangle-24 {
    border-radius: 50px 50px 0 0;
    border: 10px solid #4C9AF6;

    position: absolute;
    left: -9px;
    top: -9px;
    width: 350px;
    height: 260px;
    z-index: 100;
    overflow: hidden;
}

.card-main{

}

.card-para{
    font-size: 20px;
}

.card-italic{
    font-size: 18px;
}

.img-cards{
    width: 350px;
    height: 260px;

}

#btn-view-more{
    width: 180px;
    height: 50px;
    font-size: 25px;
    background-color: #3D80CF;
    border-color: #3D80CF;
    border-radius: 20px;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;

}



